@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: local("Rubik"),
    url("./assets/fonts/rubik/Rubik-Regular.ttf") format("truetype");
}

html,
body,
#root {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: "Rubik", "Nunito", "Ubuntu", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

iframe {
  pointer-events: none;
}

.hide-scrollbar {
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0 !important;
}
